body {
  font-family: Arial;
  font-size: 120%;
  background-color: grey;
  letter-spacing:1px;
}

.container {
  margin-top:150px;
  text-align:center;
}

.card {
  background-color: bisque
}

p {
  font-size:20px;
}

.btn {
  display:flex;
  justify-content:center;
  border-radius: 5px;
  color: white;
  background-color: green;
  width: 25%;
  margin: 20px:auto;
}

#Begin-quiz-Btn {
  margin-top:80px;

  
}


